.conmeetdet {
    width: 100%;
}

.headerdetailstitle {
    display: inline-block;
    color: rgb(255, 188, 0);
    width: 16.5%;
}

.headerdetails {
    margin-right: 10%;
    margin-left: 10%;
    padding-right: 3%;
}

.container3,
.conmeetdet {
    display: inline-block;
}

.pacd,
.pact,
.pacl,
.paca {
    display: inline-block;
    width: 16.5%;

    font-family: "FbReformaNarrow Medium" !important;
    font-size: 130%;
    margin-bottom: 0px !important;
}

.image2 {
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    width: 100%;
    min-height: 100vh !important;
    height: 100%;
    display: table;
}

.meetglink {
    color: rgb(93, 93, 93);
    background-color: rgb(236, 236, 236);
    /* padding: 0.5%; */
    padding-right: 3%;
    padding-top: 1.1%;
    padding-bottom: 0.8% !important;
    width: 80%;
    margin-left: 9%;
    /* box-shadow: 0 3px 6px 0 rgb(0 0 0 / 15%); */
    margin-bottom: 2vw;
    text-align: right;
    background-color: rgb(255, 255, 255);
    display: inline-block !important;
    border-right: 2px solid rgb(255, 188, 0);
}

.bclear2 {
    display: inline-block !important;
    color: rgb(255, 255, 255) !important;
    background-color: inherit;
    text-align: left;
    padding-left: 10%;
    padding-top: 4%;
    font-size: 1.4vw;
}

.bclear2:hover {
    color: rgb(255, 188, 0) !important;
}

.headermeets2 {
    display: flex;
    justify-content: space-between;
}

.icondetails {
    display: inline-block !important;
    color: rgb(0, 0, 0);
    margin-bottom: 0px !important;
}

.meetglink:hover {
    filter: brightness(90%);
    color: rgb(93, 93, 93);
}

.con1ac {
    color: rgb(255, 188, 0);
    padding: 1%;
    width: 80%;
    margin-right: 10%;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 15%);
    margin-bottom: 2vw;
    text-align: right;
    background-color: rgb(255, 255, 255);
}

.hedaccomeet {
    font-size: 40px;
    margin-bottom: 1%;
    margin-top: 5%;
    color: rgb(255, 255, 255);
    margin-right: 13%;
    text-align: right;
    /* border-bottom: 4px solid rgb(255, 188, 0); */
    display: inline-block !important;
}

.btn-delete-meet {
    display: inline-block !important;
    margin-left: 1%;
    color: rgb(255, 188, 0) !important;
    background-color: inherit;
    font-size: 2vw;
}

.btn-delete-meet:hover{
    color: white !important;
}
