.ptoaboutbicy{
    font-size: 23px;
    color: rgb(255, 188, 0);
    font-family: "FbReformaNarrow Regular";
}

.divtoaboutbicy{
    padding-top: 12%;
    margin-right: 15%;
    margin-left: 46%;
}

.hederaboutbicy{
font-size: 40px;
color: white;
text-align: right;
}